.main-banner {
  margin-top: 26px;
  background-image: url("../img/main-banner_mobile.png");
}

.main-banner__container {
  background-repeat: no-repeat;
  background-image: url("../img/car.svg");
  background-position: 3px 12px;
  background-size: 48px 38px;
  padding-left: 7.7%;
  padding-bottom: 40px;
}

.main-banner__container h2 {
  font-family: $rubik;
  font-weight: 500;
  font-size: 28px;
  line-height: 37px;
  color: $blue;
  margin: 0;
  padding-top: 51px;
}

.main-banner__container h3 {
  font-family: $rubik;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: $blue;
  margin: 0;
}

.main-banner__container p {
  font-family: $montserrat;
  font-size: 14px;
  line-height: 20px;
  color: $blue;
  width: 224px;
  margin: 0;
  padding-top: 10px;
}

.main-banner__container a {
  font-family: $montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 40px;
  background-color: $yellow;
  color: $blue;
  text-align: center;
  border-radius: 35px;
  margin-top: 24px;
}

@media (min-width: $tablet) {
  .main-banner {
    margin-top: 27px;
    background-image: none;
    background-color: #fdfaf5;
  }

  .main-banner__container {
    background-image: url("../img/car.svg"), url("../img/main-banner_tablet.png");
    background-position: 10px 31px, center 0;
    background-size: 58px 46px, 768px 441px;
    padding-left: 5.8%;
    padding-bottom: 140px;
    max-width: 768px;
    margin: 0 auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/car.svg"), url("../img/main-banner_tablet@2x.png");
    }
  }

  .main-banner__container h2 {
    font-size: 42px;
    line-height: 49px;
    padding-top: 82px;
  }

  .main-banner__container h3 {
    font-size: 18px;
    line-height: 25px;
  }

  .main-banner__container p {
    font-size: 16px;
    line-height: 22px;
    width: 375px;
    padding-top: 19px;
  }

  .main-banner__container a {
    font-size: 16px;
    line-height: 22px;
    width: 166px;
    height: 50px;
    margin-top: 39px;
  }
}

@media (min-width: $desktop) {
  .main-banner {
    margin-top: 27px;
    background-color: transparent;
  }

  .main-banner__container {
    max-width: 1366px;
    background-image: url("../img/car.svg"), url("../img/cloud.svg"), url("../img/main-banner.png");
    background-size: 106px 84px, 91px 62px, 1366px 512px;
    background-position: 64px 49px, 1192px 77px, center 12px;
    padding-left: 198px;
    padding-bottom: 165px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/car.svg"), url("../img/cloud.svg"), url("../img/main-banner@2x.png");
    }
  }

  .main-banner__container h2 {
    padding-top: 138px;
  }
}
