$rubik: "Rubik", "Arial", sans-serif;
$montserrat: "Montserrat", "Verdana", sans-serif;
$mobile: 320px;
$tablet: 768px;
$desktop: 1150px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$blue: #122659;
$yellow: #ffd787;
